<h1>About Me</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "FullSizeRender.jpg", width: 300, alt: "profile image" %>
  </div>
  
  <div class="col-md-8">
    <p>A student at the Two Rivers campus taking the Code to Success program. 
    I want to be an astrophysicist or a competer programmer/designer. The university
    that I wish to attend is the University of Utah, and graduate with none or little student debt.
    I want to travel the world before I turn 30, and hopefully have children and be happily married.</p>
  </div>
</div>

